html{
    scroll-behavior: auto;
}

html,
body {
    margin: 0;
    padding: 0;
    
}
.drink-btn{
    background: #000;
    color: #fff;
}

.main-btn{
    background: #fff;
    color: #000;
}



.drink{
    width: 90%;
    height: auto;
    font-size: 20px;
    margin: 0 auto;
    font-weight: lighter;
    margin-bottom: 80px;
    padding-bottom: 100px;
}

#food-menu{
    scroll-margin-top: 70px; /* header 高さ */
  }

  .food-menu{
    height: auto;
  }


.drink p{
    padding-top: 50px;
}

.drink h2{
    font-size: 24px;
    font-weight: bold;
}

.drink img{
    width: 50px;
    height: auto;
}

.drink span{
    margin-top: 30px;
}



.F{
    display: flex;
    width: 95%;
    height: 500px;
    margin: 0 auto;
    border-bottom: 1px solid #000;
    gap: 80px;
    flex-direction: row-reverse;
}

.F > div {
    display: block;
    writing-mode: vertical-rl;
    text-orientation: upright;
    line-height: 3em;
    letter-spacing: 0.1em;
}

.hoppy{
    position: relative;
    
}


.hoppy img{
    position: absolute;
    right: 3.2em;
}

.S{
    margin: 0 auto;
    margin-top: 100px;
    
}

h3{
    font-size: 15px;
}

.L{
    border-bottom: none;
    height: auto;
}

.T{
    gap: 30px;
}

@media (max-width: 480px){

    .F > div{
            writing-mode: horizontal-tb;
            text-orientation: mixed;
          
    }
    .drink-btn{
        background: #000;
        color: #fff;
    }
    
    .main-btn{
        background: #fff;
        color: #000;
    }
    
    
    
    .drink{
        width: 90%;
        height: auto;
        font-size: 20px;
        margin: 0 auto;
        font-weight: lighter;
        margin-bottom: 80px;
        padding-bottom: 100px;
    }
    
    #food-menu{
        scroll-margin-top: 70px; /* header 高さ */
      }
    
      .food-menu{
        height: auto;
      }
    
    
    .drink p{
        padding-top: 50px;
    }
    
    .drink h2{
        font-size: 24px;
        font-weight: bold;
    }
    
    .drink img{
        width: 50px;
        height: auto;
    }
    
    .drink span{
        margin-top: 30px;
    }
    
    
    
    .F{
        width: 95%;
        height: auto;
        margin: 0 auto;
        border-bottom: 1px solid #000;
        border: none;
        font-size: 16px;
        
    }
    
    .F > div {
       
        line-height: 2em;
        letter-spacing: 0.1em;
    }
    
    .hoppy{
        position: relative;
    }
    
    
    .hoppy img{
        position: absolute;
        top: 50%;
        left: 0;
    }
    
    .craft,
    .beer,
    .highball,
    .hoppy,
    .kinmiya,
    .sour,
    .fruit,
    .potato,
    .wheat,
    .suger,
    .plum,
    .sake,
    .wine,
    .soft
    {
        height: auto;
        margin-bottom: 80px;
    }
    
    .F h2{
        font-size: 20px;
    }
    
    .S{
        margin: 0 auto;
        margin-top: 100px;
    }
    
    h3{
        font-size: 15px;
    }
    
    .L{
        border-bottom: none;
        height: auto;
    }
    
    .T{
        gap: 30px;
    }    
}
