html{
    scroll-behavior: auto;
}

html,
body {
    margin: 0;
    padding: 0;
}
.drink-btn{
    background: #000;
    color: #fff;
}

.main-btn{
    background: #fff;
    color: #000;
}



.drink{
    width: 90%;
    height: auto;
    line-height: 65px;
    font-size: 20px;
    margin: 0 auto;
    font-weight: lighter;
    margin-bottom: 80px;
    padding-bottom: 100px;
}

#food-menu{
    scroll-margin-top: 70px; /* header 高さ */
  }

  .food-menu{
    height: 2550px;
  }


.drink p{
    padding-top: 50px;
}

.drink h2{
    font-size: 24px;
    font-weight: bold;
}

.drink img{
    width: 50px;
    height: auto;
}

.drink span{
    margin-top: 30px;
}

.F{
    writing-mode: vertical-rl;
    width: 95%;
    height: 500px;
    display: block;
    -ms-writing-mode: tb-rl;
    text-orientation: upright;
    margin: 0 auto;
    border-bottom: 1px solid #000;
    display: flex;
    gap: 40px;
    
}

.beer{
   
}

.highball{

}

.hoppy{
    position: relative;
    
}


.hoppy img{
    position: absolute;
    right: 72px;
}

.S{
    margin: 0 auto;
    margin-top: 100px;
    
}

.space{
   
}

h3{
    font-size: 15px;
}

.L{
    border-bottom: none;
}

.soft{
    margin-right: 60px;
}
